@model Bikes.Bike

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Bike</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Brand)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Brand)
            @Html.ValidationMessageFor(model => model.Brand)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Model)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Model)
            @Html.ValidationMessageFor(model => model.Model)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Year)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Year)
            @Html.ValidationMessageFor(model => model.Year)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Month)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Month)
            @Html.ValidationMessageFor(model => model.Month)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Text)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Text)
            @Html.ValidationMessageFor(model => model.Text)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RegistrationId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RegistrationId)
            @Html.ValidationMessageFor(model => model.RegistrationId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Kilometers)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Kilometers)
            @Html.ValidationMessageFor(model => model.Kilometers)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fuel)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fuel)
            @Html.ValidationMessageFor(model => model.Fuel)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Color)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Color)
            @Html.ValidationMessageFor(model => model.Color)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ImageLoc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ImageLoc)
            @Html.ValidationMessageFor(model => model.ImageLoc)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
